.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
.gocache/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin

manifest/docker/volumes
data/memory/
*.go.[0-9]*
reports/
Frontend/
frontend/
*Frontend/
*frontend/
docs/
**/docs/
